*{

    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header {
    background: #fff8f3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
/* header and nav styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title {
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin: 50px;
}
.text-primary{
    color: red;
}
.btn-primary {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 18px 36px;
    height: 65px;
    border-radius: 5px;
    background: #fd6e0a;
}
/* banner styles */
.banner {
    margin: 0px 200px;
    display: flex;
    align-items: center;
}
.banner-sub-title {
    color: black;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}
.banner-title {
    font-weight: 500;
    font-size: 50px;

}
.banner-description {
    color: #757575;
    font-size: 15px;
    margin-bottom: 25px;
}
/* Main styles */
main {
    max-width: 1140px;
   margin: 0 auto;
}
/* about styles */
.about {
text-align: center;
/* margin-top: 130px; */
background: #fff8f3;
border-radius: 10px;
padding: 130px 150px;

}
.section-title {
text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 700;

}
.description-title {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;


}
.about-info-container {
    display: flex;
    justify-content: space-around;
}
.info-title {
    font-size: 20px;
    color: #757575;
}
.info-name {
    font-size: 20px;
    font-weight: 700;
    color: #474747
    
}
/* what i do styles */
.what-i-do {
    margin-top: 130px;
    text-align: center; 
    font-size: 30px;
    
    margin-bottom: 30px;

}
.skills-container {
    display: flex;
    gap: 24px;
}
.skill {
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.skill-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description {
    color: #757575;
    font-size: 15px;
}
.section-title {
    margin-top: 130px;
}
/* Resume styles */

.resume-title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #474747;
}
.resume .sub-title {
color: #757575;
font-size: 40px;
font-weight: 600;
}
.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}
.title {
    font-size: 20px;
}
/* contact styles */
.contact {
    display: flex;
    gap: 100px;
    background-color: #FFFFFF;
    padding: 130px 200px;
}
.contact .section-title {
    text-align: left;
    
}
.contact input[type="text"], input[type="email"], textarea {
margin-bottom: 24px;
border: 0;
width: 100%;
padding: 18px 30px;
}
.input {
    height: 64px;
}
.contact a {
    text-decoration: none;
}